


<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
  <div class='outer_container'>
    <div class="container">
      <h1>Welcome to instafun, please sign in!</h1>
      <p>Your first and only stop for sharing all your favourite photos.</p>
      <!-- <a class="btn btn-primary btn-lg" role="button">Sign up &raquo;</a> -->
      <p><%= link_to "Sign up".html_safe, new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %><br /></p>
    </div>
  </div>
</div>
