
<% if @posts.any? %>
	<%= render @posts %>
<% else %>
	<h3> No posts yet</h3>
<% end %>
<br />

<template id="new_comment_template">
	<li> {{ username }} commented: {{ comment }} </li>	
</template>


<template id='new_like'>
	<li> {{ username }}  </li>	
</template>

