
<% if @posts.any? %>
	<% @posts.each do |post| %>
	<%= post.caption %>
	<%= image_tag post.picture.url(:medium), class: 'uploaded_pic' %>
	<%= post.user.username %>

	<% end %>
<% else %>
	<h3> No posts yet</h3>
<% end %>
<br />
<%# button_to 'Create Post', new_post_path, method: :get %>
<%= link_to 'Create Post', new_post_path %>
